

.productCard { /* This will be the root class for the card */
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  display: block; /* Ensures it takes up the full width of the grid cell */
  height: 100%; /* Ensure all cards take same height*/
  box-sizing: border-box; /* include padding and border in the element's total width and height */
}

.productCard:hover .button {
  display: block;
}

.productCard img {
  padding: 10px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.button {
  display: none;
  padding: 5px 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button:hover {
  background-color: var(--primary-shade);
}

.productRating {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.productPrice {
  padding: 5px 0;
}

.productDescription {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.productTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}