.category {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
}

.category a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  display: block; /* Make the link fill the entire div */
}

.category h1 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.category img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.category p {
  color: #555;
}

/* Optional hover effect */
.category:hover {
  background-color: #f0f0f0;
}